@import "tailwindcss";

@theme {
  --color-crimson-50: #fef2f2;
  --color-crimson-100: #fee2e2;
  --color-crimson-200: #fecaca;
  --color-crimson-300: #fca5a5;
  --color-crimson-400: #ff4d4d;
  --color-crimson-500: #f41b26;
  --color-crimson-600: #dd003c;
  --color-crimson-700: #b80710;
  --color-crimson-800: #8c050c;
  --color-crimson-900: #4a0306;
  --color-crimson-950: #260103;
}
